
<%- include('headers') -%>
<% if(typeof sqlerror != 'undefined') { %>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= sqlerror %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

<% } %>
  <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
    <% }) %>
<% } %>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img3.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
      
                  <form action="/users/register" method="POST" class="px-md-2">
      
                    <div class="form-outline mb-4">
                      <input type="text" id="username" class="form-control" name="username"/>
                      <label class="form-label" for="username">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" id="email" class="form-control" name="email"/>
                      <label class="form-label" for="email">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="date" id="dob" class="form-control" name="date_of_birth"/>
                      <label class="form-label" for="dob">Date of birth</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="address" class="form-control" name="address"/>
                      <label class="form-label" for="address">Address</label>
                    </div>


                    <div class="form-outline mb-4">
                      <input type="password" id="password" class="form-control" name="password"/>
                      <label class="form-label" for="password">Password</label>
                    </div>
      
      
                    <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
      
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('footers') -%>
